<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="DataGenericSettings"
           type="Unimake.Data.Generic.Configuration.DataGenericSettings, Unimake.Data.Generic"/>
  </configSections>
<connectionStrings />
<!--
  <DataGenericSettings
    DatabaseType = "PostgreSQL"
    ConnectionString="Server=192.168.0.51;Port=5432;User Id=postgres;Password=1234;Database=openpos;"/>
    -->
<DataGenericSettings
  DatabaseType="SQLite"
  ConnectionString="Data Source=U:\Documentacoes_Equipe_ERP\OpenPOS\database\openpos_marcelo.db;Version=3;"/>
</configuration>