<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="DataGenericSettings"
             type="Unimake.Data.Generic.Configuration.DataGenericSettings, Unimake.Data.Generic"/>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,Log4net"/>
  </configSections>
  <DataGenericSettings
    DatabaseType = "SQLite"
    ConnectionString="Data Source=U:\Documentacoes_Equipe_ERP\OpenPOS\database\openpos.db;Version=3;"/>
  <log4net>
    <root>
      <appender-ref ref="LogFileAppender" />
    </root>
    <appender name="LogFileAppender" type="log4net.Appender.RollingFileAppender" >
      <file value="D:\Temp\OpenPOS\Log\" />
      <datePattern value="dd.MM.yyyy.'log'" />
      <appendToFile value="true" />
      <rollingStyle value="Composite" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="100MB" />
      <staticLogFileName value="false"/>
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%date %stacktrace{20}%newline------------------------------------------------------------------------------------------------------------------------%newline%message%newline------------------------------------------------------------------------------------------------------------------------%newline" />
      </layout>
    </appender>
  </log4net>
</configuration>